.perfil {
    margin: auto;
}

header {
    display: flex;
}

main{
    display: flex;
}

section{
    display: flex;
}

.cabecera {
    background-color: #fff2ff;
    display: flex;
    width: 100%;
}

.cabecera h1 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

figure {
    margin-right: 20px;
    margin-left: 20px;
}

.ladoizquierdo {
    width: 160px;
    background-color: #D3D3D3;
    margin-right: 20px;
}

.ladoizquierdo p {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 450px;
}

.menuaside {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-left: 50px;
}

.menuaside li {
    list-style-type: none;
    margin-bottom: 35px;
    color: #8000b2;
    font-weight: bold;
}

.perfilcentro {
    width: 1335px;
    display: block;
    
}
.titulo{
    display: flex;
    border-bottom: 2px solid #A9A9A9;
}

.titulo h2 {
    margin: 0px 0px 0px 0px;
    padding-top: 45px;
    padding-bottom: 15px;
    width: 100px;
    font-weight: normal;
    font-size: 25px;
}

.Cancelar {
    height: 40px;
    width: 100px;
    margin-top: 40px;
    margin-left: 1020px;
    background-color: white;
    color:  #6614b8;
    font-weight: bold;
    border-radius: 30px;
}

.Guardar {
    height: 40px;
    width: 100px;
    margin-top: 40px;
    margin-left: 15px;
    background-color: #6614b8;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}


.perfilcentro h4{
    margin-top: 30px;
    margin-bottom: 0px;
    display: flex;
    width: 180px;

}

.titulo p{
    margin-top: 30px;
}

.formularioarriba{
    width: 1335px;
    height: 220px;
    margin-bottom: 20px;
}

.formularioabajo{
    width: 1335px;
    height: 260px;
    background-color: #fff2ff;
}

form{
    display: flex;
    width: 820px;
    height: 90px;
}

.mb-3arriba{
    margin-right: 25px;
}

.mb-3arribafoto{
    margin-left: 110px;
    height: 50px;
    width: 270px;
}

.mb-3abajo{
    margin-right: 25px;
    margin-left: 10px;
}

.mb-34{
    margin-left: 314px;
}

.form-label{
    display: flex;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.arriba{
    height: 50px;
    width: 280px;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.abajo{
    height: 50px;
    width: 1300px;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.form-select{
    height: 55px;
    width: 285px;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

.encabezadoinferior{
    display: flex;
    background-color: #fff2ff;
    width: 400px;
    height: 45px;
}

.encabezadoinferior p{
    margin-right: 30px;
    margin-left: 10px;
    font-size: 14px;
}

